.app {
    margin-top: 30px;
}

.card {
    position: relative;
    min-width: 480px;
    display: inline-block;
    background-color: #fff;
    padding: 16px 10px;
    border-radius: 12px;
    box-shadow: 2px 2px 1px 1px #e8e8e8;
    font-weight: bold;
    line-height: 26px;

    &-account {
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 6px;
    }

    &-value {
        color: var(--xx-desc-text-color);
        font-weight: normal;
    }
}

.connet-btn {
    position: absolute;
    bottom: 14px;
    right: 10px;
    cursor: pointer;
    color: var(--xx-button-text-color);
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: var(--xx-button-bg-color);
    border: none;
    padding: 6px 4px;
    font-size: 12px;
}