.app {
    margin-top: 30px;
}

.card {
    position: relative;
    min-width: 480px;
    display: inline-block;
    background-color: #fff;
    padding: 16px 10px;
    border-radius: 12px;
    box-shadow: 2px 2px 1px 1px #e8e8e8;
    font-weight: bold;
    line-height: 26px;

    &-account {
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 6px;
    }

    &-value {
        color: var(--xx-desc-text-color);
        font-weight: normal;
    }
}

.trade {
    margin-top: 30px;

    input {
        border: none;
        background-color: #f8f8f8;
        height: 30px;
        margin: 4px 0;
        padding-left: 10px;
        border: 1px solid transparent;

        &:focus {
            border: 1px solid #AEAEFA;
            outline:none;
        }
    }
    
    &-send {
        margin: 20px auto 0;
        width: 260px;
        height: 36px;
        background-color: var(--xx-button-bg-color);
        color: var(--xx-button-text-color);
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 50px;
        font-size: 20px;
        font-weight: bold;

        &-disabled {
            opacity: 0.5;
            cursor: not-allowed
        }
    }
}

.connet-btn {
    position: absolute;
    bottom: 14px;
    right: 10px;
    cursor: pointer;
    color: var(--xx-button-text-color);
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: var(--xx-button-bg-color);
    border: none;
    padding: 8px 4px;
    font-size: 14px;
}